{
  "presets": [
    "@babel/preset-env",            // Standard preset for modern JavaScript
    "@babel/preset-typescript"      // For handling TypeScript files
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", // For handling async/await and other runtime features
    "@babel/plugin-transform-modules-commonjs", // To transform ES modules to CommonJS
    "@babel/plugin-proposal-class-properties"  // Add support for class properties
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs" // Ensuring ES2015 modules are transformed for test environments
      ]
    }
  }
}
