# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Dependency directories
bower_components/

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
