{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "decoratorMetadata": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2015"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "env": {
    "targets": "node 16"
  },
  "paths": {
    "@config/*": ["src/config/*"],
    "@models/*": ["src/models/*"],
    "@services/*": ["src/services/*"]
  },
  "exclude": ["node_modules"]
}
