{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "decoratorMetadata": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2015"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": ["node_modules"]
}
