{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "decoratorMetadata": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "env": {
    "targets": "node 16"  // Use `env` to specify the Node.js 16 target
  },
  "exclude": ["node_modules"]
}
