# Node.js Modules
node_modules/                 # Exclude npm packages

# Logs
logs/                         # Log files and directories
*.log                         # General log files
npm-debug.log*                # NPM debug logs
yarn-debug.log                # Yarn debug logs
yarn-error.log                # Yarn error logs

# Environment Variables
.env                          # General environment variables
.env.local                    # Local overrides
.env.development              # Development environment
.env.test                     # Testing environment
.env.production               # Production environment

# Build Directories
dist/                         # Distribution build output
build/                        # Other build output

# Dependency Directories
bower_components/             # Bower dependencies

# IDE/Editor Specific Files
.vscode/                      # Visual Studio Code settings
.idea/                        # JetBrains IDE settings

# OS-Specific Files
.DS_Store                     # macOS metadata files
Thumbs.db                     # Windows thumbnail cache files

# Temporary Files
*.tmp                         # General temporary files
*.temp                        # Temp files
*.bak                         # Backup files
*.orig                        # Original files

# TypeScript
*.tsbuildinfo                 # TypeScript build info files

# Coverage Reports
coverage/                     # Code coverage reports
*.lcov                        # Lcov coverage files

# Project-Specific Exclusions
docs/*.msi                    # .msi files in the docs directory

# Miscellaneous Build Artifacts
*.class                       # Java class files
*.o                           # Object files
*.exe    

                     # Executables

# npm & Yarn Lock Files
package-lock.json             # NPM lock file
yarn.lock                     # Yarn lock file
